.contact{
    width: 100%;
    padding: 50px 70px;
    position: relative;
}

.contact li{
    list-style: none;
    display: flex;
    align-items: center;
    grid-column-gap: 1em;
    font-size: 1.5em;
    margin-bottom: 2em;
}

.contact .input-group{
    font-size: 20px;
    margin-bottom: 2em;
    line-height: 2.5em;
}

.contact .input-group input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(110, 125, 255, 0.8);
    background: transparent;
    margin: 0 10px;
    font-size: 1em;
    color: #fff;
}

.contact .input-group input::placeholder{
    color: #f7f7f7;
    opacity: 0.5;
    font-size: 16px;
}

.contact .input-group select{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(110, 125, 255, 0.8);
    background: transparent;
    margin: 0 10px;
    font-size: 16px;
    color: #f7f7f7;
    opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.contact .input-group select{
    background: #141414;
}

.contact .input-group select option{
    color: #f7f7f7;
}

.contact .block-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
}
.contact .block-end div p{
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
}

.contact .block-end div li{
    list-style: none;
    color: #f7f7f7;
    opacity: 0.5;
    font-size: 1em;
    margin: 10px 0;
}
.contact .block-end .button .primary{
    background: #2025EE;
    border-radius: 2px;
    padding: 10px 16px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    margin-right: 2em;
}

.contact .block-end .button .secondary{
    background: transparent;
    border-radius: 2px;
    padding: 10px 16px;
    outline: none;
    border: 2px solid #ff3737;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .contact{
        padding: 50px;
    }
}

@media screen and (max-width:576px){
    .contact{
        padding: 50px 30px;
    }
    .contact .block-end{
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 1em;
    }
    .contact .block-end .button{
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }
}