.slider-container {
    width: 100%;
    margin: 5% auto;
}

.slider-container .card-title{
    margin: 1em 0;
}

.slider-container p{
    text-align: left;
}

.slider-container .block{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1em;
}

.slider-container .block .block-image{
    width: 80%;
    height: 100%;
    display: grid;
    place-items: center;
}

.slider-container .block .block-image img{
    width: 100%;
}

.slick-slide {
    border: 4px solid #141414;
    box-sizing: border-box;
    background: #252525;
    padding: 20px;
}
  