*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    src: url(./assets/fonts/GTWalsheimPro-Regular.ttf);
    font-family: 'GT Regular';
}

@font-face{
    src: url(./assets/fonts/LEMONMILK-Regular.otf);
    font-family: 'Lemon milk Regular';
}

body{
    font-family: 'GT Regular';
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.primary-btn{
    background: #2025EE;
    border-radius: 2px;
    padding: 10px 16px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.secondary-btn{
    border: 2px solid #6E7DFF;
    padding: 5px 10px;
    font-size: 1em;
    outline: none;
    background: transparent;
    color: #fff;
    width: fit-content;
}


.secondary-text{
    font-size: 1em;
    line-height: 25px;
    color: #F7F7F7;
}


