.about{
    overflow: hidden;
}
.about .about-landing{
    width: 100%;
    height: 100vh;
    padding: 0 70px;
    background: rgba(0,0,0,0.4);
    background-blend-mode: darken;
}

.about .about-landing .bg-img{
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.about .story{
    padding: 100px 70px 50px;
    background: #141414;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

.about .story div p:nth-child(2){
    margin: 1em 0 2em;
    line-height: 25px;
    color: #f7f7f7;
}

.about .story div button{
    border: 2px solid #6E7DFF;
    padding: 5px 10px;
    font-size: 1em;
    outline: none;
    background: transparent;
    color: #fff;
}

.about .story .video{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.about .story .video img{
    width: 100%;
}

.about .process{
    padding: 50px 70px;
    background: #141414;
}

.about .process > p:nth-child(1){
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.about .process > p:nth-child(2){
    width: 70%;
    margin: 1em auto;
    text-align: center;
    color: #f7f7f7;
}

.about .process-card-container{
    margin-top: 4em;
}

.about .process-card-container > div{
    margin-bottom: 3em;
}

.about .team{
    padding: 50px 70px;
    background: #141414;
}

.about .team > p:nth-child(2){
    margin: 1em 0 2em;
    width: 50%;
    line-height: 25px;
    color: #f7f7f7;
}

.about .team .person-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}

.about .team .staff-card{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.about .process-card-container > div:last-child .right-arrow{
    display: none;
}
.about .process-card-container > div:last-child .mob-right-arrow{
    display: none;
}

@media screen and (max-width:768px){
    .about .about-landing{
        padding: 0 50px;
    }
    .about .story{
        padding: 100px 50px 50px;
        grid-template-columns: 1fr;
    }
    .about .process{
        padding: 50px;
    }
    .about .team{
        padding: 50px;
    }
    .about .team .staff-card{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .about .team > p:nth-child(2){
        width: 70%;
    }
}

@media screen and (max-width:576px){
    .about .about-landing{
        padding: 0 30px;
    }
    .about .story{
        padding: 100px 30px 50px;
    }
    .about .process{
        padding: 50px 30px;
    }
    .about .team{
        padding: 50px 30px;
    }
    .about .team .person-card{
        grid-template-columns: 1fr;
    }
    .about .team .staff-card{
        grid-template-columns: 1fr 1fr;
    }
    .about .team > p:nth-child(2){
        width: 80%;
    }
}