.home{
    width: 100%;
    overflow: hidden;
}

.block-title{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: 'Lemon milk Regular';
}

.landing{
    width: 100%;
    height: 100vh;
    padding: 0 70px;
}

.landing .bg-img{
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.home .partners{
    padding: 100px 70px 0;
    background: #141414;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .partners img{
    transition: 0.3s;
    transform: scale(0.9);
}

.home .partners img:hover{
    transition: 0.3s;
    transform: scale(1.1);
}

.home .who-we-are{
    padding: 100px 70px 0;
    background: #141414;
    width: 100%;
    display: grid;
    grid-template-columns:45% 45%;
    grid-column-gap: 10%;
}

.home .who-we-are .block-left p:nth-child(2){
    font-size: 1em;
    line-height: 26px;
    color: #F7F7F7;
    margin: 2em 0;
}

.home .who-we-are .block-left .span{
    border: 2px solid #6E7DFF;
    padding: 5px 10px;
    font-size: 1em;
    margin-right: 32px;
}

.home .who-we-are .block-right{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.home .who-we-are .block-right .map-image{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.home .who-we-are .block-right .map-image img{
    width: 100%;
}

.home .card-container{
    padding: 100px 70px 0;
    background: #141414;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.25em;
}

.home .experience{
    padding: 100px 70px 50px;
    background: #141414;
}

.home .experience p{
    text-align: center;
    margin-bottom: 32px;
}

.home .experience .block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home .experience .block > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-right: 1px solid #F7F7F7;
}

.home .experience .block > div:last-child{
    border-right: none;
}

.home .experience .block > div h1{
    font-size: 3em;
    font-weight: 500;
}

.home .experience .block > div h1 span{
    color: #6E7DFF;
}

.home .work{
    background: #000;
    padding: 100px 70px 50px;
}

.home .work > p:nth-child(1),
.home .work > p:nth-child(2){
    text-align: center;
}

.home .work > p:nth-child(2){
    margin: 2em auto 0;
    font-size: 1em;
    color: #F7F7F7;
    width: 60%;
}

.home .work button{
    background: transparent;
    border-radius: 2px;
    padding: 10px 16px;
    outline: none;
    border: 2px solid #6E7DFF;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-gap: 8px;
   margin: 2em auto 2em;
}

.home .work .block-image-one{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 20px;
    margin-bottom: 30px;
}

.home .work .block-image-two{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 40% 60%;
}


.home .services{
    width: 100%;
    padding: 100px 70px 0;
    background:  #141414;
}

.home .services .block-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    grid-gap: 1em;
}

.home .services .block-header div p:nth-child(2){
    margin: 2em 0 0;
    font-size: 1em;
    color: #F7F7F7;
}

.home .services .block-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-top: 5em;
}

.home .slider-block{
    padding: 100px 70px 50px;
    background:  #141414;
    text-align: center;
}

.home .slider p:nth-child(2){
    margin: 2em 0 0;
    font-size: 1em;
    color: #F7F7F7;
}

.line{
    padding: 0 70px;
    background: #000;
}

.line p{
    height: 1px;
    background-color: rgba(255,255,255,0.5);
}

@media screen and (max-width:992px){
    .home .who-we-are .block-left .span{
        display: block;
        margin-bottom: 1em;
    }
}

@media screen and (max-width:768px){
    .landing{
        padding: 0 50px;
    }
    .home .partners{
        padding: 100px 50px 0;
        flex-wrap: wrap;
        grid-gap: 1em;
        justify-content: center;
    }
    .home .who-we-are{
        padding: 100px 50px 0;
        grid-template-columns: 55% 45%;
        grid-column-gap: 20px;
    }
    .home .who-we-are .block-left .span{
        display: block;
        margin-bottom: 1em;
    }
    .home .card-container{
        padding: 100px 50px 0;
    }
    .home .experience{
        padding: 100px 50px 50px;
    }
    .home .work{
        padding: 100px 50px 50px;
    }
    .home .services{
        padding: 100px 50px 0;
    }
    .home .slider{
        padding: 100px 50px 50px;
    }
    .home .services .block-card{
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .block-title{
        font-size: 2em;
    }
    .line{
        padding: 0 50px;
    }
    .home .work .block-image-one,
    .home .work .block-image-two{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:576px){
    .landing{
        padding: 0 30px;
    }
    .home  .partners{
        padding: 50px 30px 0;
    }
    .home .who-we-are{
        padding: 100px 30px 0;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    .home .card-container{
        padding: 100px 30px 0;
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
    .home .experience{
        padding: 100px 30px 50px;
    }
    .home .work{
        padding: 100px 30px 50px;
    }
    .home .services{
        padding: 100px 30px 0;
    }
    .home .slider{
        padding: 100px 30px 50px;
    }
    .home .work > p:nth-child(2){
        width: 90%;
    }
    .block-title{
        font-size: 1.7em;
    }
    .line{
        padding: 0 30px;
    }
    .home .experience .block{
        grid-template-columns: 1fr 1fr;
    }
    .home .experience .block > div:nth-child(2){
        border-right: none;
    }
}