.ourwork{
    overflow: hidden;
}

.ourwork .ourwork-landing{
    width: 100%;
    height: 100vh;
    padding: 0 70px;
    background: rgba(0,0,0,0.4);
    background-blend-mode: darken;
}

.ourwork .ourwork-landing .bg-img{
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.ourwork .image-container{
    padding: 50px 70px;
    background: #141414;
}

.ourwork .image-container .block-one{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 20px;
    margin-bottom: 30px;
}

.ourwork .image-container .block-two{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 40% 60%;
    margin-bottom: 30px;
}

/* .ourwork .image-container .block-one div{
    width: 100%;
    height: 100%;
}

.ourwork .image-container .block-two div{
    width: 100%;
    height: 100%;
}

.ourwork .image-container .block-one div img,
.ourwork .image-container .block-two div img{
    object-fit: cover;
    width: 100%;
} */

.ourwork .work-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #000;
}

.ourwork .work-block .block-left{
    padding: 30px 30px 50px;
}

.ourwork .work-block .block-right{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.ourwork .work-block .block-right img{
    width: 100%;
}

@media screen and (max-width:768px){
    .ourwork .ourwork-landing{
        padding: 0 50px;
    }
    .ourwork .image-container{
        padding: 50px;
    }
    .ourwork .work-block{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:576px){
    .ourwork .ourwork-landing{
        padding: 0 30px;
    }
    .ourwork .image-container{
        padding: 50px 30px;
    }
}